<!--
<section>
    <h1>Random Beer</h1>
    <div>
        <h2>{{randomBeer.name}}</h2>
        <img class="beer_image" src={{randomBeer.image_url}}>
        <div class="beer_tag">{{randomBeer.tagline}}</div>
        <p>{{randomBeer.description}}</p>

        <h3>Food Pairing</h3>
        <div class="food_pairing">{{randomBeer.food_pairing}}</div>

        <p><strong>Brewers Tips:</strong>{{randomBeer.brewers_tips}}</p>

    </div>
</section>
-->

<div>
    {{>beerpartial}}
</div>
 
 <div>
 <h3>Food Pairing</h3>
        <div class="food_pairing">{{randomBeer.food_pairing}}</div>

        <p><strong>Brewers Tips:</strong>{{randomBeer.brewers_tips}}</p>
</div>